html,
g {
  background-color: #d6dfe6	;
}
.legendSequential {
  font-family: Garamond, sans-serif;
  fill: black;
  font-size: 14px;
  background: black;
}

.legendSequential text.label {
   fill: '#fff'
}
h1 {
        font-family: Cambria, sans-serif;
        font-size: 35px;
        color: #696969;
        margin-left: 160px;
        margin-right: 80px;
      }
h2, h3 {
              font-family: Garamond, sans-serif;
              font-size: 18px;
              color: ##696969;
              margin-left: 80px;
              margin-right: 280px;
              margin-top: 40px;
            }

p {
        font-family: Garamond, sans-serif;
        font-size: 18px;
        color: #808080;
        margin-left: 80px;
        margin-right: 180px;
        margin-top: 40px;
      }



button {
        margin-bottom: 30px;
        margin-left: 100px;
        background-color: white;
        font-size: 12px;
        color: #696969;
        border: 2px solid #555;
        font-family: Garamond, sans-serif;
      }
      }
#heatmap {
	float: left;
}

.colLabels path, .rowLabels path, .colLabels line, .rowLabels line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.colLabels text, .rowLabels text {
	font-family: Garamond, sans-serif;
 	fill: #696969;
	font-size: 12px;
}

.cell {
	stroke: #E6E6E6;
	stroke-width: 1px;
}

.d3-tip {
	line-height: 1;
	font: 10px sans-serif;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #696969;
	border-radius: 2px;
}
